@using AvariCapitalCRM.Models.Utils;
@model AvariCapitalCRM.Models.Data.Account
@{
    Layout = "~/Areas/Admin/Views/Shared/_ContentLayout.cshtml";
}
<style>
    .layui-form-label {
        width: 130px;
    }

    .layui-form-item .layui-input, textarea.layui-textarea {
        width: 220px;
    }
</style>
<div class="layui-form" lay-filter="layuiadmin-form-role" id="layuiadmin-form-role" style="padding: 30px 30px 0 0;">

    <div class="layui-card-body">
        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="layui-form-item">
            <label class="layui-form-label">Current password</label>
            <div class="layui-input-inline">
                <input type="password" name="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input" maxlength="20">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">New password</label>
            <div class="layui-input-inline">
                <input type="password" name="password" lay-verify="pass" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input" maxlength="20">
            </div>
            <div class="layui-form-mid layui-word-aux" style="padding-right:5px !important">6 to 20 characters</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Confirm password</label>
            <div class="layui-input-inline">
                <input type="password" name="repassword" lay-verify="repass" lay-verType="tips" autocomplete="off" class="layui-input" maxlength="20">
            </div>
        </div>

        <div class="layui-form-item">
            <div style="text-align:center; margin-top:40px;">
                <button class="layui-btn" lay-submit lay-filter="save">Submit</button>
                <button class="layui-btn layui-btn-primary" style="margin-left:30px;" id="btnCancel">Cancel</button>
            </div>
        </div>
    </div>

</div>
<script>
    layui.config({
        base: '/Assets/layuiadmin/'
        , version: true
    }).extend({
        index: 'lib/index'
    }).use(['index', 'form'], function () {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form;

        $(document).on('click', '#btnCancel', function () {
            parent.layer.closeAll();
        });

        form.on('submit(save)', function (obj) {

            $ajaxLoadingFunc(layui.setter.baseUrl + "Account/ChangePassword", obj.field, function (res) {
                if (res.code == 0) {
                    layer.msg("Change successfully", { time: 1000, offset: 'auto' }, function (index) {
                        parent.layer.closeAll();
                        layer.close(index);
                       // top.location.href = layui.setter.baseUrl + "Account/Logout";
                        top.layui.table.reload('LAY-table-list');
                    });
                }
                else {
                    LayerAlert(res.msg);
                }
            })


            return false;
        });

    })
</script>

