@using AvariCapitalCRM.Models.Utils;
@model AvariCapitalCRM.Models.Data.Account
@{
    Layout = "~/Areas/Admin/Views/Shared/_ContentLayout.cshtml";
}
<style>
    .layui-form-label {
        width: 150px;
    }

    .layui-form-item .layui-input, textarea.layui-textarea {
        width: 350px;
    }
</style>
<fieldset class="layui-elem-field layui-field-title layui-list-title">
    <legend>Change password</legend>
</fieldset>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-body" pad15>

                    <div class="layui-form" lay-filter="">

                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="layui-form-item">
                            <label class="layui-form-label">Current password</label>
                            <div class="layui-input-block">
                                <input type="password" name="oldPassword" placeholder="Input old password" lay-verify="required" lay-verType="tips" class="layui-input" maxlength="20">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">New password</label>
                            <div class="layui-input-block">
                                <input type="password" name="password" lay-verify="pass" lay-verType="tips" autocomplete="off" id="LAY_password" placeholder="Input 6 to 20 characters" class="layui-input" maxlength="20">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">Confirm password</label>
                            <div class="layui-input-block">
                                <input type="password" name="repassword" lay-verify="repass" lay-verType="tips"  placeholder="Input 6 to 20 characters" autocomplete="off" class="layui-input" maxlength="20">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div style="margin-left: 13%;margin-top: 40px;">
                                <button class="layui-btn" lay-submit lay-filter="setmypass">Save</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.config({
        base: '/Assets/layuiadmin/'
        , version: true
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'layer', 'set'], function () {
        var $ = layui.$
            , form = layui.form
            , layer = layui.layer //弹层


        //设置密码
        form.on('submit(setmypass)', function (obj) {
            $ajaxLoadingFunc(layui.setter.baseUrl + "Account/ChangePassword", obj.field, function (res) {
                if (res.code == 0) {
                    layer.msg("Change successfully", { time: 900, offset: 'auto' }, function (index) {
                        layer.close(index);
                        top.location.href = layui.setter.baseUrl + "Account/Logout";
                    });
                } else if (res.code === 2) {
                    top.location.href = layui.setter.baseUrl + "Account/Logout";
                } else {
                    LayerAlert(res.msg);
                }
            })

        });

    });
</script>